// PROJECT INDEX-------------
.project-cards
  img
    border-radius: 0
  +span-columns(9)
  +media($tablet)
    +fill-parent

  .project-card
    border-radius: 3px
    border: 1px solid $light-gray
    margin: 0 0 2em 0
    +span-columns(3 of 9)
    +omega(3n)
    +media($tablet)
      +span-columns(4)

  .project-card-image
    +filter(opacity(50%))
    +transition-property(all)
    +transition-duration(350ms)
    +transition-timing-function(ease-in)
    &:hover
      +filter(opacity(100%))
    +media($tablet)
      +filter(none)

  .project-card-details
    padding: 0.5em 0.55em 0.45em 0.55em
    font-size: $base-font-size * 1
    font-family: $heading-font-family
    color: $medium-gray
    &:hover
      color: $medium-gray
    .project-card-header

      margin: 0 0 0 0
      color: $dark-gray
    .project-card-description
      font-size: $base-font-size * 0.9
      line-height: $base-line-height * 0.9
      margin-bottom: 0

// INDIVIDUAL PROJECT VIEW---------------
.project-content-section

  .project-content-sidebar
    +span-columns(3)
    +media($tablet)
      +span-columns(4)
    +media($tablet)
      margin-bottom: 3.25em

    hr
      margin: 1.25em 0 1.5em 0

  .project-content-image
    +span-columns(6)
    +media($tablet)
      +span-columns(4)
    +media($tablet)
      margin-bottom: 2em
    img
      border: 1px solid $light-gray
      margin: 0 0 1em 0
    .back-link
      font-style: italic
      &:hover
        color: $action-color

  .project-content-body
    +span-columns(6)
    +omega()
    +media($tablet)
      +span-columns(4)
    h3
      font-size: $base-font-size * 1.35
      margin: 0 0 0 0
      &:first-child
        margin-top: 0em
    .icon-link, .icon-arrow-left-circle
      margin-right: 0.5em
    a
      font-weight: 700
      font-family: $base-font-family
      text-decoration: none
      border-bottom: none
      color: $medium-blue
      &:hover
        color: $action-color

    .project-content-header
      color: $medium-gray
      font-family: $heading-font-family
      h3
        color: $action-color
        font-size: $base-font-size * 2
        margin-top: -5px

      .project-header-date
        margin-bottom: 0.9em

      .project-header-tagline
        font-size: $base-font-size * 1.35
        font-style: italic
        margin-bottom: 0

      .project-header-skills
        margin-bottom: 0
        font-size: $base-font-size * 0.9
        text-transform: uppercase

    .project-content-link
      min-width: 13em
      margin-top: 3em
      font-size: $base-font-size * 0.8
      font-family: $heading-font-family
      color: $medium-gray
      &:hover
        color: #fff
