<div class="contact-wrapper text-center">
  <ul class="contact-list">
    <li><a class="without-underline" href="http://twitter.com/n8bn8"><i class="socicon-twitter contact-icon"></i></a></li>
    <li><a class="without-underline" href="https://github.com/N8-B"><i class="socicon-github contact-icon"></i></a></li>
    <li><a class="without-underline"href="http://issuu.com/yeszine/docs"><i class="icon-issuu contact-icon"></i></a></li>
    <!-- <li><a class="without-underline" href="https://dribbble.com/N8-B" target="_blank"><i class="socicon-dribbble contact-icon"></i></a></li> -->
    <li><a class="without-underline" href="https://es.linkedin.com/in/nathanburkiewicz"><i class="socicon-linkedin contact-icon"></i></a></li>
  </ul>
  <p class="contact-email"><a href="mailto:hi@nathanburkiewicz.com?subject=Message from nathanburkiewicz.com"></a>hi@nathanburkiewicz.com</p>
</div>
