<% var path = current.path[0] %>
<li><a class="without-underline <%= path == 'about' ? 'navlink-selected' : '' %>" href="/about">About</a></li>
<li><a class="without-underline <%= path == 'cv' ? 'navlink-selected' : '' %>" href="/cv">CV</a></li>
<li><a class="without-underline <%= path == 'projects' ? 'navlink-selected' : '' %>" href="/projects">Projects</a></li>
<li><a class="without-underline <%= path == 'articles' ? 'navlink-selected' : '' %>" href="/articles">Articles</a></li>
