<a href="https://github.com/N8-B">Developer</a> of the JavaScript kind, <a href="http://issuu.com/yeszine/docs">designer</a>, husband and the occasional <a href="https://www.facebook.com/nathanburkiewicz/media_set?set=a.1141754180157.2021505.1116521870&type=3">baker</a> striving to be a decent human being and to make rad stuff on the internets.
