<section class="notfound-section">
  <div class="notfound-body">
    <img src="/images/bigfoot.gif" alt="Bigfoot image">
    <h1>Whoops!</h1>
    <h2>Looks like what you're looking for can't be found.</h2>
  </div>
</section>
