<section class="about-hero">
  <div class="hero-image-1">
    <img src="/images/home/profile-side.jpg" alt="Nathan Burkiewicz">
  </div>
  <div class="hero-image-2">
    <img src="/images/home/profile-front-smile.jpg" alt="Nathan Burkiewicz">
  </div>
  <div class="hero-image-3">
    <img src="/images/home/profile-front.jpg" alt="Nathan Burkiewicz">
  </div>
</section>

<section class="content-section about-page">
  <aside class="content-sidebar">
    <hr/>
    <%- partial("_shared/_contact") %>
    <hr/>
    <%- partial("_partials/_educationExperience") %>
  </aside>
  <article class="content-body about-body">
    <p class="hero-text-alt">Welcome to my little corner of the internet. The following bio should paint a slightly more accurate picture of who I am. Is it a detailed account? Absolutely, not. It’s but a snapshot of the culmination of experiences that have played a part in shaping the person I am today. You are what you live, the work you do, the languages you speak, the people you meet, the music you listen to, the dreams you have. This is who I’ve been, what I am and the foundation of what I will be. </p>

    <h3>The Early Years</h3>
    <p>I was born and raised a stone’s throw away from Cleveland, Ohio, the home of rock and roll. After working as a busboy in a <a href="http://www.oldprague.com/">Czech restaurant</a> and mowing lawns to make a few bucks, I decided to major in Spanish and International Studies at <a href="https://www.bw.edu/">Baldwin-Wallace University</a>. In order to help pay my way through university, I needed a job on campus. Perusing the campus job board, I came across an opening for a scene builder in the theatre department which seemed interesting and a good place for me to take advantage of my carpentry skills. I landed the job and began building sets for the school’s productions, eventually becoming master carpenter of the scene shop. However, my time at school was not all work and no play. By a stroke of luck, I received a scholarship to study for a year in Buenos Aires, where I spent my time learning about and soaking in the local culture while eating ridiculous quantities of beef and <i>alfajores.</i> </p>

    <h3>Wanderlust</h3>
    <p>The summer after graduating, I worked at the Cleveland Opera Theater helping to renovate sets for upcoming performances while trying to figure out in which direction I wanted to steer my professional career. After a brief stint at a global logistics provider in Cleveland where I churned out export documents in a cubicle and loaded trucks with a forklift in a suit and tie, I realized that I wanted something more than an office job. In search of adventure, my best friend, <a href="https://twitter.com/robbiekjones">Robbie K. Jones</a>, and I embarked on a trip in 1999 to Madrid, Spain, unaware at the time that this is where our roots would eventually take hold.</p>

    <h3>On Spain and Music</h3>
    <p>Initially, the aim of my move to Spain was to improve my Spanish and to expand my musical knowledge by studying flamenco. And that I did. I went to work on perfecting my spoken Spanish and began studying flamenco guitar with <a href="http://www.academiadelentri.es/">‘El Entri’</a>. In addition to flamenco guitar, I took a brief foray into Turkish classical music and, thanks to the one and only Bill Cooley, I learned to play the oud. Even though studying music has been an extremely enriching experience, I have never set my sights on making a career out of it. That brings us to the wide array of jobs I have undertaken to satisfy my professional interests (and pay the bills).</p>

    <h3>Work Experience</h3>
    <p>During my time in Spain, I have worn many hats as a freelancer, working as an English teacher, translator, interpreter, voice-over artist, proofreader and designer. My voice-over work includes TV commercials, documentaries and educational projects. Over the years I have also had the pleasure of working as a voice coach for important Spanish artists recording in English, including Bonus, <a href="http://www.showpay.net/">Showpay</a>, <a href="https://en.wikipedia.org/wiki/Las_Supremas_de_M%C3%B3stoles">Las Supremas de Mostoles</a> and <a href="http://www.amaiamontero.com/">Amaia Montero</a>.</p>

    <p>In 2000 I joined the team at Think in English, a monthly magazine for English learners, doing proofreading, editing and transcribing work and offering my voice for recordings. Then, in 2007, I was given the chance to take the helm of the magazine’s page-design, a job which I learned a lot from although it gave me a few gray hairs.</p>

    <p>In January 2013, two colleagues from Think in English and I co-founded Anglo Files - a small independent publishing company. We published a magazine for EFL learners and teachers called <a href="http://www.yes-mag.com">Yes - Your English Supplement</a>. Anyone who has run a small company knows that providing a succinct explanation of one’s roles and responsibilities is a tall order. During a typical workday I spent a quarter of my time doing administrative work (answering emails, tending to accounting issues and filling orders), another quarter ensuring our web site and online store was in working order and the rest of the day designing content for the publication’s print, digital and tablet editions. </p>

    <p>Since 2016, I have worked as a JavaScript developer at BBVA, one of Spain's leading financial institutions.</p>

    <h3>Personal Interests</h3>
    <p>When not working, I like to spend time with my wonderful wife Fabiola, keep up with current events, study music, train for Girevoy sport and learn about web development. I also enjoy studying the mysterious and intricate art of <a href="https://www.facebook.com/nathanburkiewicz/media_set?set=a.1141754180157.2021505.1116521870&type=3">bread making</a>, constantly amazed at how three apparently simple ingredients –flour, water and salt– can be transformed into a beautiful loaf of bread.</p>
  </article>
</section>
