<section class="content-section">
  <aside class="content-sidebar">
    <figure>
      <img src="/images/home/profile-side.jpg" alt="Nathan Burkiewicz">
      <figcaption>"Hey, man. Relax. No need to look so serious? It's just a picture."</figcaption>
    </figure>
    <hr />
    <%- partial("_shared/_contact") %>
  </aside>
  <article class="content-body home-page">
    <h1>Hello, I'm Nathan.</h1>
    <p class="hero-text"><%- partial("_shared/_tagline") %></p>

    <p>I work as the digital, print and web designer for <a href="http://yes-mag.com">Yes - Your English Supplement</a>, a monthly magazine for EFL learners and teachers.

    <p>While I have dedicated the last 15 years to the EFL and publishing worlds, I now devote my 'free' time to pursuing a career in web development.</p>

    <p>I'm an autodidactic Javascript developer living in Madrid, Spain. Currently I am working my way through <a href="http://www.freecodecamp.com/">Free Code Camp</a> in order to improve my web development skills in general and my JavaScript skills in particular.</p>

    <p>Through continuous learning, my aim is to be able to work confidently on both client- and server-side code.</p>

    <p>I'm curious by nature, enjoy challenges and consider myself to be a quick learner. As regards work ethic, I strongly believe in the adage, "If you are going to do something, do it well".</p>

    <p>If you are developing an exciting project and believe my skills and knowledge could be beneficial, I would love to hear from you.</p>

    <p>You can find more information about me <a href="/about">here</a>.</p>

    <%- partial("_partials/_currentObsessions")  %>
  </article>
</section>
