<section class="content-section">
  <aside class="content-sidebar">
    <figure>
      <img src="/images/home/profile-side.jpg" alt="Nathan Burkiewicz">
      <figcaption>"Hey, man. Relax. No need to look so serious? It's just a picture."</figcaption>
    </figure>
    <hr />
    <%- partial("_shared/_contact") %>
  </aside>
  <article class="content-body home-page">
    <h1>Hello, I'm Nathan.</h1>
    <p class="hero-text"><%- partial("_shared/_tagline") %></p>

    <p>I currently work as a JavaScript developer for one of Spain's leading financial institutions.</p>

    <p>Through continuous learning, my aim is to be able to work confidently on both client- and server-side code.</p>

    <p>I'm curious by nature, enjoy challenges and consider myself to be a quick learner. As regards work ethic, I strongly believe in the adage, "If you are going to do something, do it well".</p>

    <p>If you are developing an exciting project and believe my skills and knowledge could be beneficial, I would love to hear from you.</p>

    <p>You can find more information about me <a href="/about">here</a>.</p>

    <%- partial("_partials/_currentObsessions")  %>
  </article>
</section>
