<hr />
<h3>Current Obsessions</h3>
<p><a href="https://facebook.github.io/react/" target="_blank">React</a>, <a href="https://github.com/Reactive-Extensions/RxJS" target="_blank">RxJS</a>, <a href="http://elm-lang.org/" target="_blank">Elm</a> and all things <a href="https://nodejs.org/en/" target="_blank">Node.js</a></p>
