<section class="skills-section">

  <h4 class="skills-header">Skills</h4>

  <h3 class="skills-subheader">Web Development</h3>
  <ul class="skills-list">
    <li class="skills-description">HTML5</li>
    <li class="skills-description">CSS3</li>
    <ul class="skills-list cursive">
      <li>- Bourbon/Neat</li>
      <li>- Stylus</li>
      <li>- Bootstrap/Foundation</li>
    </ul>
    <li class="skills-description">JavaScript</li>
    <ul class="skills-list cursive">
      <li>- React</li>
      <li>- Node (Express)</li>
      <li>- Backbone</li>
      <li>- jQuery</li>
    </ul>
    <li class="skills-description">Workflow</li>
    <ul class="skills-list cursive">
      <li>- GitHub</li>
      <li>- Webpack</li>
      <li>- Gulp</li>
      <li>- Heroku</li>
      <li>- Firebase</li>
    </ul>
  </ul>

  <h3 class="skills-subheader">Digital Publishing</h3>
  <ul class="skills-list">
    <li class="skills-description">Mag+</li>
    <li class="skills-description">TypeEngine</li>
    <li class="skills-description">WordPress</li>
  </ul>

  <h3 class="skills-subheader">Print Design</h3>
  <ul class="skills-list">
    <li class="skills-description">InDesign</li>
    <li class="skills-description">Photoshop</li>
    <li class="skills-description">Illustrator</li>
  </ul>

  <h3 class="skills-subheader">Translation</h3>
  <ul class="skills-list">
    <li class="skills-description">MemoQ</li>
  </ul>

  <hr>

  <h4 class="skills-header">Education</h4>

  <h3 class="skills-subheader">Free Code Camp</h3>
  <ul class="skills-list">
    <li><span class="skills-description">Full Stack Web Development, Computer Software Engineering</span></li>
    <li><span class="skills-date">2015-2016</span></li>
  </ul>

  <h3 class="skills-subheader">Instituto Sampere</h3>
  <ul class="skills-list">
    <li><span class="skills-description">Consecutive and Simultaneous Interpretation</span></li>
    <li><span class="skills-date">2001-2002</span></li>
  </ul>

  <h3 class="skills-subheader">Baldwin-Wallace University</h3>
  <ul class="skills-list">
    <li><span class="skills-description">BA, International Studies and Spanish</span></li>
    <li><span class="skills-date">1993-1997</span></li>
  </ul>

  <hr>

  <h4 class="skills-header">Languages</h4>

  <h3 class="skills-subheader">English</h3>
  <ul class="skills-list">
    <li><span class="skills-description">Native proficiency</span></li>
  </ul>

  <h3 class="skills-subheader">Spanish</h3>
  <ul class="skills-list">
    <li><span class="skills-description">Full professional proficiency</span></li>
  </ul>

</section>
