<footer class="site-footer">
  <hr />
  <p>Made with <span><i class="icon-heart"></i></span> and soul (and a pair of <span><i class="icon-eyeglass"></i></span>) in Madrid, Spain - November 2021</p>
</footer>
