<div class="header">
  <div class="header-logo">
    <a class="without-underline" href="/"><%- siteTitle %></a>
  </div>
  <ul class="header-nav">
    <%- partial("../_shared/_navigation") %>
  </ul>
</div>
